$colorblue:#0271bc;
$colorfooter:#304268;
$colorlightblue:#8ccbea;
$colorsection3:#eff9ff;
$colororange:#f26002;
$colorcuerpo: #4a4a4a;
$colorblanco: #ffffff;

$font14: 14px;
$font16: 16px;
$font18: 18px;
$font20: 20px;
$font24: 24px;
$font26: 26px;
$font32: 32px;
$font42: 42px;
$font80: 80px;
$font100: 100px;

$font1:'Roboto', sans-serif;
$font2:'Roboto Slab', serif;
// $fontbutton:'';
$font-weight: 400;
$font-weight1: 500;
$font-weight-bold: bold;

$capitalize: 'capitalize';
$mayus:'uppercase';
