$colorblue:#0271bc;
$colorfooter:#304268;
$colorlightblue:#8ccbea;
$colorsection3:#eff9ff;
$colororange:#f26002;
$colorcuerpo: #4a4a4a;
$colorblanco: #ffffff;

$font14: 14px;
$font18: 18px;
$font20: 20px;

$font1:'Roboto';
$font2:'RobotoSlab';
// $fontbutton:'';
$font-weight: 400;
$font-weight1: 500;
$font-weight-bold: bold;

$capitalize: 'capitalize';
$mayus:'uppercase';
