.items_grid{
  display: flex;
  flex-direction: column;
}
.item1, .item2, .item3, .boton_more{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.final{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 45px;
  height:63px;
  width:180px;
  font-family: $font1;
}
.titulo3{
  text-transform: $capitalize;
  height: 30px;
  margin-top: 30px;
  margin-bottom: 45px;
  text-align: center;
}
@media all and (min-width: 768px) {
  .items_grid{
    height: 292px;
    display: grid;
    grid-auto-rows: 1fr 1fr 1fr;
    grid-gap:0;
    display: flex;
    flex-direction: column;
  }
  .item1, .item2, .item3{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .final{
    font-family: $font1;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    font-size: $font18;
  }
  .section3{
    height: 397px;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
  }
  .items_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .item{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .titulo3{
    grid-column: span 3;
  }
  .item1{
    grid-column: span 1;
  }
  .item2{
    grid-column: span 1;
  }
  .item3{
    grid-column: span 1;
  }
  .boton_more{
    grid-column: span 3;
  }
  .titulo3{
    margin:30px auto 45px auto;
    text-align: center;
  }
}
@media all and (min-width: 1280px) {
  .final{
    font-size: $font20;
    width: 353.8px;
    height:68px;
  }
  .titulo3{
    margin-top: 60px;
  }
}
