.items_grid{
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 93px 93px 93px;
  grid-gap:0;
  display: flex;
  flex-direction: column;
}
.item1, .item2, .item3{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.final{
  font-family: $font1;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  font-size: $font18;

  height: 63px;
}
@media all and (min-width: 720px) {
  .items_grid{
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 27.7px;
  }
  .item1, .item2, .item3{
    display: flex;
    flex-direction: row;
  }
}
