.header{
  display: flex;
  height:100vh;
  text-align: center;

}
.header_1{
  display: flex;
  flex-direction: column;
  // margin-top: 284px;
  height: 284px;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 53px;
  @media all and (min-width: 768px) {
    height: 384px;
    margin-bottom: 45px;
  }
  @media all and (min-width: 1280px) {
    margin-bottom: 13px;
  }
}
.title{
  font-family: $font2;
  font-size: $font42;
  font-weight: $font-weight-bold;
  margin-left: 15px;
  margin-right: 15px;
  order: 0;
  line-height: 1.33;
  text-transform: uppercase;
  color: white;
  width: 290px;
  height: 110px;
}
.parrafo{
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  font-family: $font1;
  font-size: $font16;
  font-weight: $font-weight;
}
@media all and (min-width: 768px) {
  .title{
    font-size: $font80;
    width: 690px;
    height: 212px;
    justify-content: center;
  }
  .parrafo{
    margin-top: 20px;
    font-size: $font24;
    width: 400px;
    height: 32px;
  }
}
@media all and (min-width: 1280px) {
  .title{
    font-size: $font100;
    width: 730px;
    height: 264px;
  }
  .parrafo{
    margin-top: 0;
  }

}
