.boton{
  background-color: $colorblue;
  width: 44px;
  height: 44px;
  position: fixed;
  z-index: 5;
}
.rectangle-3{
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  background-color: #ffffff;
}
.go{
  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  border: solid 2px #f26002;
  margin-left: 15px;
}
