.boton{
  background-color: $colorblue;
  width: 44px;
  height: 44px;
  position: fixed;
  z-index: 5;
  border-width: 0;
}
.rectangle-3{
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  background-color: $colorblanco;
  border-width: 0;
  margin-bottom: 53px;
}
@media all and (min-width: 768px) {
  .rectangle-3{
    margin-top: 30px;
    margin-bottom: 45px;
  }
}
.go{
  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  border: solid 2px $colororange;
  margin-top: 30px;
  margin-left: 15px;
  margin-bottom: 45px;
  background-color: white;
  color: $colororange;
  font-size: 20px;
  font-weight: $font-weight1;
}
@media all and (min-width: 768px) {
  .go{
    margin-left: 39px;
  }
}
.morereasons{
  color:$colorblanco;
  font-size: $font20;
  font-family: $font1;
  font-weight: $font-weight1;
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  background-color: $colororange;
  border-width: 0;
  margin-top: 60px;
  align-self: center;
}
.oval{
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: $colorblanco;
  border-radius: 50px;
  position: absolute;
  transform: translateY(-50%);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-width: 0;
}
