.boton{
  background-color: #0271bc;
  width: 44px;
  height: 44px;
  position: fixed;
  z-index: 5;
}
.rectangle-3{
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  background-color: #ffffff;
}
