* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.section1 {
  width: 320px;
  height: 568px;
}

.rectangle {
  width: 216px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-left: 15px;
  margin-right: 215px;
  margin-top: 30px;
  color: #8ccbea;
  text-transform: capitalize;
  line-height: 2.14;
  letter-spacing: normal;
}

.cuerpo {
  font-family: "Roboto", sans-serif;
  color: #4a4a4a;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: normal;
}

.titulo3 {
  margin-top: 30px;
  text-align: center;
}

.section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.items_grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.item1,.item2,.item3,.boton_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.final {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  height: 63px;
  width: 180px;
}

.titulo3 {
  text-transform: "capitalize";
  height: 30px;
  width: 390px;
  margin-bottom: 45px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  text-align: center;
}

.header_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 284px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.title {
  font-family: "Roboto Slab", serif;
  font-size: 42px;
  font-weight: bold;
  margin-left: 15px;
  margin-right: 15px;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  line-height: 1.33;
  text-transform: uppercase;
  color: white;
  width: 290px;
  height: 110px;
}

.parrafo {
  margin-left: 15px;
  margin-right: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.footer {
  width: 100%;
  height: 128px;
  background-color: #304268;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.copyright {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 38px;
  line-height: 2.14;
  letter-spacing: normal;
}

.components {
  margin-bottom: 30px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.14;
  letter-spacing: normal;
}

.corazon {
  color: #f26002;
}

.boton {
  background-color: #0271bc;
  width: 44px;
  height: 44px;
  position: fixed;
  z-index: 5;
  border-width: 0;
}

.rectangle-3 {
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  background-color: #ffffff;
  border-width: 0;
  margin-bottom: 53px;
}

.go {
  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  border: solid 2px #f26002;
  margin-top: 30px;
  margin-left: 15px;
  margin-bottom: 45px;
  background-color: white;
  color: #f26002;
  font-size: 20px;
  font-weight: 500;
}

.morereasons {
  color: #ffffff;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  background-color: #f26002;
  border-width: 0;
  margin-top: 60px;
  -ms-flex-item-align: center;
  align-self: center;
}

.oval {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: #ffffff;
  border-radius: 50px;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-width: 0;
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: center;
}

.parrafo {
  width: 290px;
  height: 21px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.titulo2 {
  margin-left: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  width: 290px;
  height: 60px;
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  color: #000000;
  text-transform: capitalize;
  line-height: 1.25;
  letter-spacing: normal;
}

h3 {
  width: 184px;
  height: 30px;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  -ms-flex-item-align: center;
  align-self: center;
}

p {
  margin-left: 15px;
  margin-right: 15px;
}

.section3 {
  width: 100%;
  height: 624px;
  background-color: #eff9ff;
}

@media all and (min-width: 768px) {
  .rectangle {
    margin-left: 39px;
    width: 216px;
    margin-right: 513px;
  }

  .cuerpo {
    font-size: 20px;
    margin-left: 39px;
  }

  .items_grid {
    height: 292px;
    display: grid;
    grid-auto-rows: 1fr 1fr 1fr;
    grid-gap: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .item1,.item2,.item3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  .final {
    font-family: "Roboto", sans-serif;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    font-size: 18px;
  }

  .section3 {
    height: 397px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
  }

  .items_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .titulo3 {
    grid-column: span 3;
  }

  .item1 {
    grid-column: span 1;
  }

  .item2 {
    grid-column: span 1;
  }

  .item3 {
    grid-column: span 1;
  }

  .boton_more {
    grid-column: span 3;
  }

  .titulo3 {
    margin: 30px auto 45px auto;
    text-align: center;
  }

  .header_1 {
    height: 384px;
  }

  .title {
    font-size: 80px;
    width: 690px;
    height: 212px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .parrafo {
    font-size: 24px;
    width: 400px;
    height: 32px;
  }

  .rectangle-3 {
    margin-top: 30px;
    margin-bottom: 45px;
  }

  .go {
    margin-left: 39px;
  }

  h2 {
    margin-left: 39px;
    font-size: 26px;
    width: 450px;
    height: 45px;
  }
}

@media all and (min-width: 1140px) {
  h2 {
    font-size: 32px;
  }
}

@media all and (min-width: 1280px) {
  .section2 {
    margin-left: 39px;
    text-align: left;
  }

  .section2 {
    margin-left: 275px;
    margin-right: 275px;
    margin-top: 0;
    height: 330px;
  }

  .cuerpo {
    width: 730px;
    height: 60px;
  }

  .title {
    font-size: 100px;
    width: 730px;
    height: 264;
  }
}

/*# sourceMappingURL=main.css.map */
